@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --genreal-font: "poppins", sans-serif;
  --color-background: #dde1e7;
  --color-title: #4d4d4d4d;
  --color-placeholder: #4e4e4e;
  --color-light-text: #e7e7e7;
  --color-backneo: #f0f0f0;
  --color-signin: #086972;
  --color-signup: #17b978;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--genreal-font);
}

.container {
  position: relative;
  width: 100%;
  background-color: var(--color-background);
  min-height: 100vh;
  overflow: hidden;
}
.forms {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
.forms__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.forms__form--signin {
  z-index: 2;
}
.forms__form--signup {
  opacity: 0;
  z-index: 1;
}
.forms__title {
  color: var(--color-title);
  font-size: 3.5rem;
  text-shadow: 2px 2px 3px #ffffff80;
  margin: 10px 0px;
}
.forms__input-field {
  max-width: 380px;
  width: 100%;
  background-color: var(--color-backneo);
  margin: 10px 0;
  border-radius: 20px;
  height: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.65rem;
  position: relative;
  box-shadow: inset -3px -3px 5px #ffffff73,
    inset 3px 3px 10px #5e687949;
}
.forms__input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-placeholder);
}
.icon {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.8rem;
}
.forms__input-field:focus-within > .icon,
.forms__input-field:hover > .icon{
  color: var(--color-signup);
} 
.btn {
  width: 150px;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: var(--color-light-text);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.5s;
}
.forms__btn{
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 80px;
  padding: 12px;
  margin: 10px 0;
  width: 150px;
  height: 49px;
  background: var(--color-background);
  cursor: pointer;
  box-shadow: -3px -3px 5px #ffffff73, 3px 3px 3px #5e687949;
}

.forms__btn-signin {
  color: var(--color-signin);
}
.forms__btn-signup {
  color: var(--color-signup);
}

.forms__btn:hover {
  background-color: var(--color-backneo);
}

.panels {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-50deg, var(--color-signin) 0%, var(--color-signup) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.panels__image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panels__panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}
.panels__panel--left {
  pointer-events: all;
  padding: 4.8rem 17% 3.2rem 12%;
}
.panels__panel--right {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panels__panel .panels__content {
  color: var(--color-light-text);
  transition: transform 0.8s ease-in-out;
  transition-delay: 0.6s;
  margin: 0 0 0 2rem;
}
.panels__title {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}
.panels__text {
  width: 80%;
  margin: auto;
  padding: 1.1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.btn--panel {
  margin: 0;
  background: none;
  border: 2px solid var(--color-light-text);
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 1.2rem;
}
.btn--panel:hover {
  background: #e7e7e744;
}
.panels__panel--right .panels__content,
.panels__panel--right .panels__image {
  transform: translateX(800px);
}

/* ----------- */
.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .panels__panel--left .panels__image,
.container.sign-up-mode .panels__panel--left .panels__content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode .forms__form.forms__form--signup {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode .forms__form.forms__form--signin {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .panels__panel--right .panels__image,
.container.sign-up-mode .panels__panel--right .panels__content {
  transform: translateX(0%);
}

.container.sign-up-mode .panels__panel--left {
  pointer-events: none;
}

.container.sign-up-mode .panels__panel--right {
  pointer-events: all;
}
/* ---------- */

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panels__panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .panels__panel--right {
    grid-row: 3 / 4;
  }

  .panels__panel--left{
    grid-row: 1 / 2;
  }

  .panels__image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panels__content {
    margin-right: 5%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panels__title {
    font-size: 2rem;
  }

  .panels__text {
    font-size: 1.2rem;
    padding: 0.8rem 0;
  }

  .btn .btn--panel{
    width: 110px;
    height: 35px;
    font-size: 1.2rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .panels__panel--left .panels__image,
  .container.sign-up-mode .panels__panel--left .panels__content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .panels__panel--right .image,
  .container.sign-up-mode .panels__panel--right .panels__content {
    transform: translateY(0px);
  }

  .panels__panel--right .panels__image,
  .panels__panel--right .panels__content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  .forms__form {
    padding: 0 1.5rem;
  }

  .panels__image {
    display: none;
  }
  .panels__panel .panels__content {
    padding: 0.8rem 1.6rem;
  }
  .container {
    padding: 2.3rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }

}